html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.content {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.comment-nickname{
    float: left;
}

.table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
/*table{*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*}*/

table tr *:nth-child(1){
    background: rosybrown;
    width: 15%;
}

table tr *:nth-child(2){
    background: darkorange;
    width: 30%;
}

table tr *:nth-child(3){
    background: #649cdf;
}


