<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<div th:replace="fragments/header::header"></div>

<form layout:fragment="content" th:action="@{/articles/update}" method="post" th:object="${article}">
    <input th:name="id" th:type="hidden" th:value="${id}"/>
    <div class="mb-3">
        <label class="form-label">タイトル</label>
        <input type="text" class="form-control" name="title" th:value="*{title}">
    </div>
    <div class="mb-3">
        <label class="form-label">内容</label>
        <textarea class="form-control" rows="3" name="content" th:text="*{content}"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a th:href="@{/articles/{id}(id = ${article.id})}" class="btn btn-primary">Back</a>
</form>

<div th:replace="fragments/footer::footer"></div>

</html>